/* Outfit Font */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format('truetype');
    font-display: swap;
}

/* Young-Serif Font */
@font-face {
    font-family: 'Young-Serif';
    font-style: normal;
    src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf") format('truetype');
    font-display: swap;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);

    --fs-paragraph: 16px;
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    background-color: var(--Stone-100);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    font-family: 'Young-Serif', serif;
    font-weight: 400;
    line-height: 32px;
}

h1 {
    color: var(--Stone-900);
}

h2,
.value {
    color: var(--Brown-800);
}

p,
.key {
    font-size: var(--fs-paragraph);
    margin-block: 1em;
    color: var(--Stone-600);
}

hr {
    width: 100%;
    height: 1px;
    background-color: var(--Stone-150);
    border: none;
}

ul {
    color: var(--Stone-600);
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}


.row {
    display: grid;
    grid-auto-flow: column;
    place-content: start;
    place-items: center;
}

.row p {
    margin-bottom: 0;
}

.dot {
    place-self: center;
    color: var(--Rose-800);
    margin-top: 0 !important;
    margin-inline: .25em .75em;
    font-size: 2rem;
}

/* Main Containers Section */
.container {
    display: grid;
    gap: 2em;
    background-color: var(--White);
    width: fit-content;
    height: auto;
    padding-bottom: 4em;
}

.text-content {
    display: grid;
    gap: 2em;
    padding-inline: 1.9em;
    place-content: center;
}

/* Title section */
.title p {
    margin-bottom: 0;
}

/* Preparation time Section */
.prep-time {
    padding: 1em 1.5em;
    background-color: var(--Rose-50);
}

.prep-time h3 {
    color: var(--Rose-800);
    font-family: 'Outfit', sans-serif;
}

.prep-data {
    display: grid;
}


/* Ingredients Section */
.ingredients .dot {
    color: var(--Brown-800);
}

/* Instructions Section */
.instructions {
    display: grid;
    place-content: start;
}

.num {
    display: grid;
    place-self: start;
    color: var(--Brown-800);
    font-size: 1rem;
    font-weight: 600;
    margin-inline: .5em;
    width: 30px;
}

/* Nutrition Section */
table {
    width: 100%;
}

table tr {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid var(--Stone-150);
}

table tr:nth-last-child(1) {
    border: none;
}

table td {
    width: 100%;
}

.key {
    padding-left: 2.5em;
}

/* Attrs */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media Queryes*/
@media (min-width: 768px) {
    .container {
        width: 780px;
        padding: 2em;
        border-radius: 1em;
        margin: 5em auto;
        padding-bottom: 4em;
    }

    img {
        border-radius: 1em;
    }
}
